<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>startTime</key>
		<string>12:12</string>
		<key>startPoint</key>
		<string>机场大道口</string>
		<key>endPoint</key>
		<string>京明凤凰家园</string>
		<key>busType</key>
		<string>大巴</string>
		<key>LineTime</key>
		<string>约06h06m</string>
	</dict>
	<dict>
		<key>startTime</key>
		<string>12:12</string>
		<key>startPoint</key>
		<string>机场大道口</string>
		<key>endPoint</key>
		<string>京明凤凰家园</string>
		<key>busType</key>
		<string>大巴</string>
		<key>LineTime</key>
		<string>约06h06m</string>
	</dict>
	<dict>
		<key>startTime</key>
		<string>12:12</string>
		<key>startPoint</key>
		<string>机场大道口</string>
		<key>endPoint</key>
		<string>京明凤凰家园</string>
		<key>busType</key>
		<string>大巴</string>
		<key>LineTime</key>
		<string>约06h06m</string>
	</dict>
	<dict>
		<key>startTime</key>
		<string>12:12</string>
		<key>startPoint</key>
		<string>机场大道口</string>
		<key>endPoint</key>
		<string>京明凤凰家园</string>
		<key>busType</key>
		<string>大巴</string>
		<key>LineTime</key>
		<string>约06h06m</string>
	</dict>
	<dict>
		<key>startTime</key>
		<string>12:12</string>
		<key>startPoint</key>
		<string>机场大道口</string>
		<key>endPoint</key>
		<string>京明凤凰家园</string>
		<key>busType</key>
		<string>大巴</string>
		<key>LineTime</key>
		<string>约06h06m</string>
	</dict>
	<dict>
		<key>startTime</key>
		<string>12:12</string>
		<key>startPoint</key>
		<string>机场大道口</string>
		<key>endPoint</key>
		<string>京明凤凰家园</string>
		<key>busType</key>
		<string>大巴</string>
		<key>LineTime</key>
		<string>约06h06m</string>
	</dict>
	<dict>
		<key>startTime</key>
		<string>12:12</string>
		<key>startPoint</key>
		<string>机场大道口</string>
		<key>endPoint</key>
		<string>京明凤凰家园</string>
		<key>busType</key>
		<string>大巴</string>
		<key>LineTime</key>
		<string>约06h06m</string>
	</dict>
	<dict>
		<key>startTime</key>
		<string>12:12</string>
		<key>startPoint</key>
		<string>机场大道口</string>
		<key>endPoint</key>
		<string>京明凤凰家园</string>
		<key>busType</key>
		<string>大巴</string>
		<key>LineTime</key>
		<string>约06h06m</string>
	</dict>
	<dict>
		<key>startTime</key>
		<string>12:12</string>
		<key>startPoint</key>
		<string>机场大道口</string>
		<key>endPoint</key>
		<string>京明凤凰家园</string>
		<key>busType</key>
		<string>大巴</string>
		<key>LineTime</key>
		<string>约06h06m</string>
	</dict>
	<dict>
		<key>startTime</key>
		<string>12:12</string>
		<key>startPoint</key>
		<string>机场大道口</string>
		<key>endPoint</key>
		<string>京明凤凰家园</string>
		<key>busType</key>
		<string>大巴</string>
		<key>LineTime</key>
		<string>约06h06m</string>
	</dict>
	<dict>
		<key>startTime</key>
		<string>12:12</string>
		<key>startPoint</key>
		<string>机场大道口</string>
		<key>endPoint</key>
		<string>京明凤凰家园</string>
		<key>busType</key>
		<string>大巴</string>
		<key>LineTime</key>
		<string>约06h06m</string>
	</dict>
	<dict>
		<key>startTime</key>
		<string>12:12</string>
		<key>startPoint</key>
		<string>机场大道口</string>
		<key>endPoint</key>
		<string>京明凤凰家园</string>
		<key>busType</key>
		<string>大巴</string>
		<key>LineTime</key>
		<string>约06h06m</string>
	</dict>
	<dict>
		<key>startTime</key>
		<string>12:12</string>
		<key>startPoint</key>
		<string>机场大道口</string>
		<key>endPoint</key>
		<string>京明凤凰家园</string>
		<key>busType</key>
		<string>大巴</string>
		<key>LineTime</key>
		<string>约06h06m</string>
	</dict>
	<dict>
		<key>startTime</key>
		<string>12:12</string>
		<key>startPoint</key>
		<string>机场大道口</string>
		<key>endPoint</key>
		<string>京明凤凰家园</string>
		<key>busType</key>
		<string>大巴</string>
		<key>LineTime</key>
		<string>约06h06m</string>
	</dict>
	<dict>
		<key>startTime</key>
		<string>12:12</string>
		<key>startPoint</key>
		<string>机场大道口</string>
		<key>endPoint</key>
		<string>京明凤凰家园</string>
		<key>busType</key>
		<string>大巴</string>
		<key>LineTime</key>
		<string>约06h06m</string>
	</dict>
	<dict>
		<key>startTime</key>
		<string>12:12</string>
		<key>startPoint</key>
		<string>机场大道口</string>
		<key>endPoint</key>
		<string>京明凤凰家园</string>
		<key>busType</key>
		<string>大巴</string>
		<key>LineTime</key>
		<string>约06h06m</string>
	</dict>
</array>
</plist>
